In [1]:
import pandas as pd
from pathlib import Path

In [3]:
# Store filepath in a variable
file = Path("Resources/Seattle_Housing_Cost_Burden.csv")
file_df = pd.read_csv(file)
file_df

,YEAR,AMI,RACE,TENURE,AGE,TOTAL,BURDEN30,BURDEN3050,BURDEN50,NODATA,NOBURDEN,PERCENT30,PERCENT3050,PERCENT50,PERCENT_NODATA,PERCENT_NOBURDEN,INCOME,COSTS,ObjectId
0,2006,Above 120%,Native,Renters,Seniors,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2006,Above 120%,Native,Renters,Children,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,2006,Above 120%,Asian,All,All,33864,5655,4488,1167,0,28209,0.166991,0.132530,0.034461,0.0,0.833009,146287.706591,2473.832373,3
3,2006,Above 120%,Asian,All,Seniors,1718,517,360,157,0,1201,0.300931,0.209546,0.091385,0.0,0.699069,147017.508731,2508.574904,4
4,2006,Above 120%,Asian,All,Children,3703,504,436,68,0,3199,0.136106,0.117742,0.018363,0.0,0.863894,161444.756144,2873.532237,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4207,2018,80 - 120%,Hispanic,Renters,All,9400,1704,1374,330,0,7696,0.181277,0.146170,0.035106,0.0,0.818723,86212.551064,NaN,4208
4208,2018,80 - 120%,Hispanic,Renters,Seniors,875,0,0,0,0,875,0.000000,0.000000,0.000000,0.0,1.000000,76993.028571,NaN,4209
4209,2018,80 - 120%,Hispanic,Renters,Children,674,0,0,0,0,674,0.000000,0.000000,0.000000,0.0,1.000000,119829.436202,NaN,4210
4210,2018,Above 120%,All,All,All,398219,22323,20274,2049,0,375896,0.056057,0.050912,0.005145,0.0,0.943943,217783.586619,2723.827159,4211
4211,2018,Above 120%,All,All,Seniors,51613,2921,2495,426,0,48692,0.056594,0.048341,0.008254,0.0,0.943406,192004.804410,1973.152312,4212

In [4]:
file_df['AMI'].unique()

array(['Above 120%', 'All', '0 - 30%', '80 - 120%', '30 - 50%',
       '50 - 80%'], dtype=object)

In [3]:
# Check the data types.
file_df.dtypes

YEAR                  int64
AMI                  object
RACE                 object
TENURE               object
AGE                  object
TOTAL                 int64
BURDEN30              int64
BURDEN3050            int64
BURDEN50              int64
NODATA                int64
NOBURDEN              int64
PERCENT30           float64
PERCENT3050         float64
PERCENT50           float64
PERCENT_NODATA      float64
PERCENT_NOBURDEN    float64
INCOME              float64
COSTS               float64
ObjectId              int64
dtype: object

In [5]:
# Use Map to format all the columns
file_df["INCOME"] = file_df["INCOME"].map("${:,.2f}".format)
file_df["COSTS"] = file_df["COSTS"].map("${:,.2f}".format)
file_df["PERCENT30"] = (file_df["PERCENT30"]*100).map("{:.1f}%".format)
file_df["PERCENT3050"] = (file_df["PERCENT3050"]*100).map("{:.1f}%".format)
file_df["PERCENT50"] = (file_df["PERCENT50"]*100).map("{:.1f}%".format)
file_df["PERCENT_NODATA"] = (file_df["PERCENT_NODATA"]*100).map("{:.1f}%".format)
file_df["PERCENT_NOBURDEN"] = (file_df["PERCENT_NOBURDEN"]*100).map("{:.1f}%".format)
file_df["TOTAL"] = file_df["TOTAL"].map("{:,}".format)
file_df

,YEAR,AMI,RACE,TENURE,AGE,TOTAL,BURDEN30,BURDEN3050,BURDEN50,NODATA,NOBURDEN,PERCENT30,PERCENT3050,PERCENT50,PERCENT_NODATA,PERCENT_NOBURDEN,INCOME,COSTS,ObjectId
0,2006,Above 120%,Native,Renters,Seniors,0,0,0,0,0,0,nan%,nan%,nan%,nan%,nan%,$nan,$nan,1
1,2006,Above 120%,Native,Renters,Children,0,0,0,0,0,0,nan%,nan%,nan%,nan%,nan%,$nan,$nan,2
2,2006,Above 120%,Asian,All,All,"33,864",5655,4488,1167,0,28209,16.7%,13.3%,3.4%,0.0%,83.3%,"$146,287.71","$2,473.83",3
3,2006,Above 120%,Asian,All,Seniors,"1,718",517,360,157,0,1201,30.1%,21.0%,9.1%,0.0%,69.9%,"$147,017.51","$2,508.57",4
4,2006,Above 120%,Asian,All,Children,"3,703",504,436,68,0,3199,13.6%,11.8%,1.8%,0.0%,86.4%,"$161,444.76","$2,873.53",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4207,2018,80 - 120%,Hispanic,Renters,All,"9,400",1704,1374,330,0,7696,18.1%,14.6%,3.5%,0.0%,81.9%,"$86,212.55",$nan,4208
4208,2018,80 - 120%,Hispanic,Renters,Seniors,875,0,0,0,0,875,0.0%,0.0%,0.0%,0.0%,100.0%,"$76,993.03",$nan,4209
4209,2018,80 - 120%,Hispanic,Renters,Children,674,0,0,0,0,674,0.0%,0.0%,0.0%,0.0%,100.0%,"$119,829.44",$nan,4210
4210,2018,Above 120%,All,All,All,"398,219",22323,20274,2049,0,375896,5.6%,5.1%,0.5%,0.0%,94.4%,"$217,783.59","$2,723.83",4211
4211,2018,Above 120%,All,All,Seniors,"51,613",2921,2495,426,0,48692,5.7%,4.8%,0.8%,0.0%,94.3%,"$192,004.80","$1,973.15",4212

In [5]:
# Mapping has changed the data types of the columns to strings
file_df.dtypes

YEAR                 int64
AMI                 object
RACE                object
TENURE              object
AGE                 object
TOTAL               object
BURDEN30             int64
BURDEN3050           int64
BURDEN50             int64
NODATA               int64
NOBURDEN             int64
PERCENT30           object
PERCENT3050         object
PERCENT50           object
PERCENT_NODATA      object
PERCENT_NOBURDEN    object
INCOME              object
COSTS               object
ObjectId             int64
dtype: object